# Kafka
KAFKA_INTERNAL_PORT=29092
KAFKA_EXTERNAL_PORT=9092
CLUSTER_ID=N0Y5RkQ4QjEwQzZBNzE5Rg
KAFKA_BOOTSTRAP_SERVERS=kafka-broker:29092

# jwt
JWT_SECRET_KEY=<<change_me>>
JWT_ISSUER=auth-service

# auth-service
ADMIN_EMAIL=admin@mail.com
ADMIN_USERNAME=AdminUser
ADMIN_PASSWORD=admin123

# URLs
FRONTEND_URL=http://localhost:3000
GATEWAY_URL=http://localhost:8080

INTERNAL_GATEWAY_URL=http://api-gateway:8080
AUTH_SERVICE_URL=http://auth-service:8081
USER_SERVICE_URL=http://user-service:8082
PRODUCT_SERVICE_URL=http://product-service:8083
CART_SERVICE_URL=http://cart-service:8084
ORDER_SERVICE_URL=http://order-service:8085
INVENTORY_SERVICE_URL=http://inventory-service:8086

# topics
TOPIC_CHECKOUT=cart.checkout
TOPIC_ORDER_CREATED=order.created
TOPIC_ORDER_CANCELLED=order.cancelled
TOPIC_STOCK_REJECTED=stock.rejected